body{
background:#fff;
margin:0;
overflow-x:hidden;
}
.hs_holder{
width:100%;
height:400px;
float:left;
position:relative;
z-index:99;
overflow:hidden;
display:block;
}
.hs_holder ul{
	display:none;
}
.hs_holder .hsimg_holder{
	transition:all ease 0.8s;
}
.hs_holder .hstext_holder{
	transition:all ease 1s;
}
.portfolio{
    width: 800px;
    float: left;
    height: 300px;
    margin-top: 30px;
    display: block;
    overflow: hidden;   
    position: relative;
}
.module{
	width:200px;
	height:200px;
	float:left;
	cursor:pointer;
	position:absolute;
	/*transition:all linear 5s;	*/
}
.module .outer{
	width: 120px;
    height: 120px;
    background: transparent;
    margin: 0 auto;
    border-radius: 50%;
}
.module .inner{
	width: 110px;
    height: 110px;
    background: #008BFF;
    margin: 0 auto;
    border-radius: 50%;
    top: 7px;
    position: relative;
	transition:all ease 0.5s
	
}
.module .inner .file{
	    position: absolute;
    left: 40px;
    font-size: 38px;
    top: 35px;
    color: #fff;
}
.module .inner .cloud{
	position: absolute;
    left: 32px;
    font-size: 45px;
    top: 32px;
    color: #fff;
}
.module .inner .mobile{
    position: absolute;
    left: 41px;
    font-size: 66px;
    top: 23px;
    color: #fff;
}
.module .inner .bell{
   position: absolute;
    left: 46px;
    font-size: 14px;
    top: 48px;
    color: #fff;
	opacity:0;
}
.module .inner .clock{
    position: absolute;
    left: 47px;
    font-size: 16px;
    top: 47px;
    color: #008BFF;
}
.module .inner .arrow{
    position: absolute;
    left: 47px;
    font-size: 14px;
    top: 77px;
    color: #008BFF;
}
.module .inner .envelope{
 position: absolute;
    left: 63px;
    font-size: 11px;
    top: 26px;
    color: #fff;
	opacity:0;
}
.module .inner .user{
    position: absolute;
    left: 66px;
    font-size: 18px;
    top: 75px;
    color: #fff;
}
.module .inner span{
	transition:all ease 0.5s;
}
.module .inner:hover{
	width: 105px;
    height: 105px;
	box-shadow:0px 0px 3px 8px #eee;
}
.news-holder{
	background:#eee;
	width:100%;
	padding-bottom: 30px;
    padding-top: 30px;
	display:none;
}
.news-holder .news,.news-holder .events,.news-holder .touch{
	height:300px;
	background:#fff;
	box-shadow: 0px 0px 8px 1px #999;    
}
.col-xs-4 .head-title{
	width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    text-indent: 4px;
    font-size: 15px;
}
.news-details,.events-details{
	    overflow: hidden;
    height: 250px;	
}
.news-details .o-news,.events-details .o-events{
	height: 66px;
    padding-top: 5px;
    box-shadow: 0px 2px 3px 0px #eee;
	transition: all linear 8s;
	position:relative;
}
.o-news img{
	    width: 60px;
    height: 50px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    padding-right: 0px;
}
.o-news p,.o-events p{
padding-right: 5px;
    height: 50px;
    word-wrap: break-word;
    width: 285px;
    padding-top: 9px;
    float: left;
    padding-left: 9px;	
}
.o-events .date-folder{
	    width: 60px;
    height: 50px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    padding-right: 0px;  
}
.o-events .month{
	font-size: 20px;
    text-align: center;
	color:#008BFF;
}
.o-events .day{
	text-align: center;
}
